[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"

[requires]
python_version = "3.6"

[scripts]
launch = "gunicorn -b 0.0.0.0:5000 -w 4 server.server:app"
